{% extends 'base.html.twig' %}

{% block title %}
    Password generator
{% endblock %}

{% block body %}

    <div class="container-sm d-flex align-items-center justify-content-center h-100 mx-auto flex-column">
    <img src="{{ asset('build/images/logopasswd.svg') }}" alt="logo password lock">
        <div class="card shadow col-md-8" style="max-width: 840px;">
            <div class="card-header">
                <h1 class="h2 mt-2 gap-3 mb-2 d-flex align-items-center justify-content-center">
                    Password <span class="gap-2"> Generator</span>
                </h1>
            </div>

            {% set length_to_select = app.request.cookies.getInt('app_length', password_default_length) %}

            <div class="card-body">
                <form id="js-form" methode="get" action="{{ path ('app_generate_password') }}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3 px-5">
                                <label for="length" class="form-label">
                                    Length                          
                                </label>
                                <select id="length state" name="length" class="form-select">
                                    {% for i in password_min_length..password_max_length %}
                                        <option value="{{ i }}" {{ i == length_to_select ? 'selected' }}>
                                            {{ i }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                        <div class="form-check  d-flex flex-column justify-content-end text-start mx-4" style="max-width: 240px;">
                            <div class="form-check form-switch">
                                <label for="uppercase" class="form-check-label">
                                    Uppercase letters                             
                                </label>

                                <input role="switch" type="checkbox" id="uppercase" name="uppercase" class="form-check-input" {{ app.request.cookies.getBoolean('app_uppercase') ? ' checked' }}>
                            </div>
                                <div class="form-check form-switch">
                                    <label for="digits" class="form-check-label">
                                        Digits                    
                                    </label>
                                    <input role="switch" type="checkbox" id="digits" name="digits" class="form-check-input" {{ app.request.cookies.getBoolean('app_digits') ? ' checked' }}>
                                </div>

                                    <div class="form-check form-switch">
                                        <label for="special" class="form-check-label">
                                            Special Characters
                                        </label>
                                        <input role="switch" type="checkbox" id="special" name="special_characters" class="form-check-input" {{ app.request.cookies.getBoolean('app_special_characters') ? ' checked' }}></div>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <button type="submit" class="btn m-3">
                                        Generate password                                  
                                    </button>
                                </div>
                            </form>
                            <div class="mt-2 text-uppercase">
                                <a href="https://www.ssi.gouv.fr/administration/precautions-elementaires/calculer-la-force-dun-mot-de-passe/">
                                    anssi                             
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <footer class="py-3 footer">
            <p class="text-center d-flex align-items-center justify-content-center mb-1 mt-1">
                Built with Symfony &hearts; {{ "now"|date("Y") }}  by Manue 
            </p>
        </footer>
    </div>
{% endblock %}

